################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Session01/.vs
/Session02/.vs
/Session07/Session07/.vs/Session07
